# Domain must match your 42 login
DOMAIN_NAME=yamartin.42.fr

# Database configuration (any values work)
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# WordPress admin (must NOT contain 'admin')
WP_ADMIN_USER=yamartin
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
# WordPress second user (must NOT contain 'admin')
WP_USER=visitor
WP_USER_PASSWORD=
WP_USER_EMAIL=

